.form-group{
    text-align: center;
    width: 350px;
    margin-left: 40%;
}

.H4{
    text-align: center;
}

.h1{
    text-align: center;
}

.body{
    background-color: beige;
    width: 1200px;
}

.P1{
    text-align: center;
}

.Ol{
    margin-left: 25%;
}

.button{
    padding-top: 20px;
}

.gender{
    padding-top: 20px;
}

