.form-group{
    text-align: center;
    width: 350px;
    margin-left: 40%;
}

.h1{
    text-align: center;
}

.body{
    background-image: url(/images/birthday-bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
}

.P1{
    text-align: center;
}

.Ol{
    list-style: none;
    margin-left: 25%;
}

.button{
    padding-top: 20px;
}

.gender{
    padding-top: 20px;
}

